---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h4 class="fw-bold">About</h4>
    <p>
    	I am a researcher interested in the field of modeling human visual perception mechanism for artificial intelligence. The main research interests include low-level computer vision and deep learning. I am currently working as a research engineer at LG Electronics, Korea. I received my Ph.D. degree in engineering at Yonsei University, Korea. I spent some time as a postdoctoral researcher at Yonsei University and a member of <a href="http://mcml.yonsei.ac.kr/" target="_blank">MCML Group</a>.
      
      I am always looking forward to new opportunities for various research. :)
    </p>


    <p><h4 class="fw-bold">Research Interests</h4>
      The main research interests include low-level computer vision and deep learning.
      <ul>
        <li>Perceptual Image and Video Quality Assessment</li>
        <li>Perceptual Image and Video Processing</li>
        <li>Computer Vision and Deep Learning</li>
      </ul></p>


      <p><h4 class="fw-bold">Research Experience</h4>
        <ul>
          <li>Senior Research Engineer</li>
            <ul>
              <li>2019.02 - Now</li>
              <li>CTO Division, LG Electronics, Korea</li>
            </ul>    
          <li>Postdoctoral Researcher</li>
            <ul>
              <li>2018.03 - 2019.01</li>
              <li>MCML Group (Lead: Prof. Jong-Seok Lee)</li>
              <li>Yonsei University, Korea</li>
            </ul>    
          <li>Graduate Research Assistant</li>
            <ul>
              <li>2012.03 - 2018.02</li>
              <li>MCML Group (Lead: Prof. Jong-Seok Lee)</li>
              <li>Yonsei University, Korea</li>
            </ul>
        </ul></p>

        <p><h4 class="fw-bold">Education</h4>
        <ul>
          <li>Ph.D. in Engineering</li>
            <ul>
              <li>2012.03 - 2018.02</li>
              <li>School of Integrated Technology (SIT), Yonsei University</li>
              <li>Thesis : Objective Modelling of Quality of Experience in Adaptive Multimedia Environments</li>
              <li>Supervisor : Prof. Jong-Seok Lee</li>
            </ul>
          <li>B.S. in Electrical and Electronic Engineering</li>
            <ul>
              <li>2005.03 - 2012.02</li>
              <li>School of Electrical and Electronic Engineering, Yonsei University</li>
            </ul>
        </ul></p>


<!--     <h4 class="fw-bold"> Contact </h4>
    <ul>
      <li><a href="mailto:manri.cheon@gmail.com" target="_top">E-mail</a></li>
      <li><a href="https://scholar.google.co.kr/citations?user=Eb0nmD0AAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a></li>
      <li><a href="https://github.com/manricheon" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/manricheon" target="_blank">LinkedIn</a></li>
      <li><a href="https://1drv.ms/b/s!AruYFpEm1xLPjBeSZFbgfjEIwYgo?e=oKGpgn" target="_blank">CV</a></li>    
    </ul> -->
  </div>
</div>
