---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Awards</h3>
	  <h4> Winner Award </h4>
	  <ul>
	    <li>LIPT team (<b>M. Cheon</b>, S.-J. Yoon, B. Kang, and J. Lee)</li>
	    <li>NTIRE 2021 Challenge on Perceptual Image Quality Assessment, in conjunction with CVPR, June 2021</li>
	  </ul>

	  <h4> Honorable Mention Award </h4>
	  <ul>
	    <li>LIPT team (<b>M. Cheon</b>, S.-J. Yoon, B. Kang, and J. Lee)</li>
	    <li>NTIRE 2020 Challenge on Image Demoireing - Track 1 Single image, in conjunction with CVPR, June 2020</li>
	  </ul>

	  <h4> 2nd Place (Region 1) </h4>
	  <ul>
	    <li>Yonsei-MCML team (<b>M. Cheon</b>, J.-H. Kim, J.-H. Choi, and J.-S. Lee)</li>
	    <li>Super-Resolution Challenge on Perceptual Image Restoration and Manipulation (PIRM), in conjunction with ECCV, September 2018</li>
	  </ul>

	  <h4> 2nd Place (Region 2) </h4>
	  <ul>
	    <li>Yonsei-MCML team (J.-H. Choi, J.-H. Kim, <b>M. Cheon</b>, and J.-S. Lee)</li>
	    <li>Super-Resolution Challenge on Perceptual Image Restoration and Manipulation (PIRM), in conjunction with ECCV, September 2018</li>
	  </ul>
  </div>
</div>
