---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <ul>
      <li><a href="mailto:manri.cheon@gmail.com" target="_top">E-mail</a></li>
      <li><a href="https://scholar.google.co.kr/citations?user=Eb0nmD0AAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a></li>
      <li><a href="https://github.com/manricheon" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/manricheon" target="_blank">LinkedIn</a></li>
      <li><a href="https://www.dropbox.com/s/wjroz3i46yhzh0m/CV%20-%20Manri%20Cheon.pdf?dl=0" target="_blank">CV</a></li>    
    </ul>
