---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
      <p><a href="https://1drv.ms/b/s!AruYFpEm1xLPjBeSZFbgfjEIwYgo?e=oKGpgn" target="_blank">Please click here to download my CV</a></p>

<!--       <h4>Research Experience</h4>
        <ul>
          <li>Senior Research Engineer</li>
            <ul>
              <li>2019.02 - Now</li>
              <li>CTO Division, LG Electronics, Korea</li>
            </ul>    
          <li>Postdoctoral Researcher</li>
            <ul>
              <li>2018.03 - 2019.01</li>
              <li>MCML Group (Lead: Prof. Jong-Seok Lee)</li>
              <li>Yonsei University, Korea</li>
            </ul>    
          <li>Graduate Research Assistant</li>
            <ul>
              <li>2012.03 - 2018.02</li>
              <li>MCML Group (Lead: Prof. Jong-Seok Lee)</li>
              <li>Yonsei University, Korea</li>
            </ul>
        </ul>

        <h4>Education</h4>
        <ul>
          <li>Ph.D. in Engineering</li>
            <ul>
              <li>2012.03 - 2018.02</li>
              <li>School of Integrated Technology (SIT), Yonsei University</li>
              <li>Thesis : Objective Modelling of Quality of Experience in Adaptive Multimedia Environments</li>
              <li>Supervisor : Prof. Jong-Seok Lee</li>
            </ul>
          <li>B.S. in Electrical and Electronic Engineering</li>
            <ul>
              <li>2005.03 - 2012.02</li>
              <li>School of Electrical and Electronic Engineering, Yonsei University</li>
            </ul>
        </ul> -->
  </div>
</div>



