---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-6">

    <h4 class="fw-bold">About</h4>
    <p>
      I am a researcher interested in the field of modeling human visual perception mechanism for artificial intelligence. The main research interests include low-level vision and deep learning. I am currently working as a research engineer at LG Electronics, Korea. I received my Ph.D. degree in engineering at Yonsei University, Korea. I spent some time as a postdoctoral researcher at Yonsei University and a member of <a href="http://mcml.yonsei.ac.kr/" target="_blank">Multimedia Computing and Machine Learning (MCML) Group</a> led by Prof. Jong-Seok Lee.
    </p>
  </div>
</div>
