---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>

    <h4 class="fw-bold">About</h4>
    <p>
      I am a researcher interested in the field of modeling human visual perception mechanism for artificial intelligence. The main research interests include low-level vision and deep learning. I am currently working as a research engineer at LG Electronics, Korea. I received my Ph.D. degree in engineering at Yonsei University, Korea. I spent some time as a postdoctoral researcher at Yonsei University and a member of <a href="http://mcml.yonsei.ac.kr/" target="_blank">Multimedia Computing and Machine Learning (MCML) Group</a> led by Prof. Jong-Seok Lee.
    </p>

    <h4 class="fw-bold border-bottom pb-3 mb-5">Contact</h4>
    <ul>
      <li><a href="mailto:manri.cheon@gmail.com" target="_top">E-mail</a></li>
      <li><a href="https://scholar.google.co.kr/citations?user=Eb0nmD0AAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a></li>
      <li><a href="https://github.com/manricheon" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/manricheon" target="_blank">LinkedIn</a></li>
      <li><a href="https://1drv.ms/b/s!AruYFpEm1xLPjBeSZFbgfjEIwYgo?e=oKGpgn" target="_blank">CV</a></li>    
    </ul>

  </div>
</div>
