---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-top pb-3 mb-5">Publications</h3>
    	<h4>Journals</h4>
		  <ul>
		    <li><b>M. Cheon</b>, T. Vigier, L. Krasula, J. Lee, P. Le Callet, J.-S. Lee, "Ambiguity of objective image quality metrics: A new methodology for performance evaluation," Signal Processing: Image Communication, vol. 93, Apr. 2021. <a class="publication-link" href="https://doi.org/10.1016/j.image.2021.116150" target="blank">Detail</a>, <a class="publication-link" href="https://arxiv.org/abs/2101.07439" target="blank">arXiv</a>, <a class="publication-link" href="https://github.com/manricheon/AmbiguityIntervals" target="blank">Github</a></li>
		    <li>J.-H. Choi, J.-H. Kim, <b>M. Cheon</b>, and J.-S. Lee, "Volatile-nonvolatile memory network for progressive image super-resolution," IEEE Access, vol. 9, Mar. 2021. <a class="publication-link" href="https://doi.org/10.1109/ACCESS.2021.3063760" target="blank">Detail</a></li>
		    <li>J.-H. Kim, J.-H. Choi, <b>M. Cheon</b>, and J.-S. Lee, "MAMNet: Multi-path adaptive modulation network for image super-resolution," Neurocomputing, 2020. <a class="publication-link" href="https://doi.org/10.1016/j.neucom.2020.03.069" target="blank">Detail</a>, <a class="publication-link" href="https://arxiv.org/abs/1811.12043" target="blank">arXiv</a>, <a class="publication-link" href="https://github.com/junhyukk/MAMNet-tensorflow" target="blank">Github</a></li>
		    <li>J.-H. Choi, J.-H. Kim, <b>M. Cheon</b>, and J.-S. Lee, "Deep learning-based image super-resolution considering quantitative and perceptual quality," Neurocomputing, 2019. <a class="publication-link" href="https://doi.org/10.1016/j.neucom.2019.06.103" target="blank">Detail</a>, <a class="publication-link" href="https://arxiv.org/abs/1809.04789" target="blank">arXiv</a>, <a class="publication-link" href="https://github.com/idearibosome/tf-perceptual-eusr" target="blank">Github</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Subjective and objective quality assessment of compressed 4K UHD videos for immersive experience," IEEE Transactions on Circuits and Systems for Video Technology, vol. 28, no. 7, pp. 1467-1480, Jul. 2018.  <a class="publication-link" href="https://doi.org/10.1109/TCSVT.2017.2683504" target="blank">Detail</a>, <a class="publication-link" href="http://mcml.yonsei.ac.kr/downloads/4kuhdvideoquality" target="blank">Dataset</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Evaluation of objective quality metrics for multidimensional video scalability," Journal of Visual Communication and Image Representation, vol. 35, pp. 132-145, 2016.  <a class="publication-link" href="http://dx.doi.org/10.1016/j.jvcir.2015.12.008" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "On ambiguity of objective image quality assessment," Electronics Letters, vol. 52(1), pp. 34-35, 2016.  <a class="publication-link" href="http://dx.doi.org/10.1049/el.2015.2801" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Temporal resolution vs. visual saliency in videos: Analysis of gaze patterns and evaluation of saliency models," Signal Processing: Image Communication, vol. 39, pp. 405-417, 2015.  <a class="publication-link" href="http://dx.doi.org/10.1016/j.image.2015.05.010" target="blank">Detail</a></li>
		  </ul>
        <h4>Conferences</h4>
		  <ul>
		    <li><b>M. Cheon</b>, S.-J. Yoon, B. Kang, and J. Lee, "Perceptual Image Quality Assessment with Transformers," IEEE/CVF Conference on Computer Vision and Pattern Recognition Workshops (CVPRW), 2021. <a class="publication-link" href="https://openaccess.thecvf.com/content/CVPR2021W/NTIRE/papers/Cheon_Perceptual_Image_Quality_Assessment_With_Transformers_CVPRW_2021_paper.pdf" target="blank">Detail</a>, <a class="publication-link" href="https://arxiv.org/abs/2104.14730" target="blank">arXiv</a></li>
		    <li>J. Gu et al. (including <b>M. Cheon</b>), "NTIRE 2021 Challenge on Perceptual Image Quality Assessment," IEEE/CVF Conference on Computer Vision and Pattern Recognition Workshops (CVPRW), 2021. <a class="publication-link" href="https://arxiv.org/abs/2105.03072" target="blank">arXiv</a></li>
		    <li><b>M. Cheon</b>, J.-H. Kim, J.-H. Choi, and J.-S. Lee, "Generative adversarial network-based image super-resolution using perceptual content losses," European Conference on Computer Vision Workshop (ECCVW), 2018. <a class="publication-link" href="https://arxiv.org/abs/1809.04783" target="blank">arXiv</a> <a class="publication-link" href="https://doi.org/10.1007/978-3-030-11021-5_4" target="blank">Detail</a> <a class="publication-link" href="https://github.com/manricheon/tf-eusr-pcl" target="blank">Github</a></li>
		    <li>J.-H. Choi, <b>M. Cheon</b>, M.-S. Choi, and J.-S. Lee, “Impact of three-dimensional video scalability on multi-view activity recognition using deep learning,” Thematic Workshops of ACM Multimedia, pp. 135-143, 2017.  <a class="publication-link" href="https://dl.acm.org/citation.cfm?id=3126769" target="blank">Detail</a></li>
		    <li>J.-H. Choi, <b>M. Cheon</b>, and J.-S. Lee, “Influence of video quality on multi-view activity recognition,” IEEE International Symposium on Multimedia (ISM), pp. 511-515, 2017.  <a class="publication-link" href="https://doi.org/10.1109/ISM.2017.101" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Ambiguity-based evaluation of objective quality metrics for image compression," IEEE International Conference on Quality of Multimedia Experience (QoMEX), pp. 1- 6, 2016.  <a class="publication-link" href="http://dx.doi.org/10.1109/QoMEX.2016.7498944" target="blank">Detail</a></li>
		    <li>J. Lee, <b>M. Cheon</b>, S.-E. Moon, and J.-S. Lee, “Peripersonal space in virtual reality: navigating 3D space with different perspectives,” Annual Symposium on User Interface Software and Technology (UIST), pp. 207-208, 2016.  <a class="publication-link" href="http://doi.org/10.1145/2984751.2984772" target="blank">Detail</a></li>
		    <li>J. Lee, <b>M. Cheon</b>, S.-E. Moon, and J.-S. Lee, “Gaze analysis of avatar-based navigation with different perspectives in 3D virtual space,” International Conference on Human-Agent Interaction (HAI), pp. 223-226, 2015.  <a class="publication-link" href="http://dl.acm.org/citation.cfm?id=2814981" target="blank">Detail</a></li>
		    <li>J. Lee, S.-E. Moon, <b>M. Cheon</b>, and J.-S. Lee, “EEG analysis on 3D navigation in virtual reality with different perspectives,” International Conference on Human-Agent Interaction (HAI), pp. 227-229, 2015.  <a class="publication-link" href="http://dl.acm.org/citation.cfm?id=2814982" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Objective quality comparison of 4K UHD and up-scaled 4K UHD videos," IEEE International Symposium on Multimedia (ISM), pp. 78-81, 2014.  <a class="publication-link" href="https://doi.org/10.1109/ISM.2014.33" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Gaze pattern analysis for video contents with different frame rates," Visual Communications and Image Processing (VCIP), pp. 17-20, 2013.  <a class="publication-link" href="https://doi.org/10.1109/VCIP.2013.6706429" target="blank">Detail</a></li>
		    <li><b>M. Cheon</b> and J.-S. Lee, "Gaze pattern analysis for audio-visual contents under the presence of video transmission errors," IEEE International Conference on Multimedia and Expo Workshops (ICMEW), pp. 1-6, 2013.  <a class="publication-link" href="https://doi.org/10.1109/ICMEW.2013.6618423" target="blank">Detail</a></li>
		  </ul>

    <h3 class="fw-bold border-top pb-3 mb-5">Awards</h3>
	  <h4> Winner Award </h4>
	  <ul>
	    <li>LIPT team (<b>M. Cheon</b>, S.-J. Yoon, B. Kang, and J. Lee)</li>
	    <li>NTIRE 2021 Challenge on Perceptual Image Quality Assessment, in conjunction with CVPR, June 2021</li>
	  </ul>

	  <h4> Honorable Mention Award </h4>
	  <ul>
	    <li>LIPT team (<b>M. Cheon</b>, S.-J. Yoon, B. Kang, and J. Lee)</li>
	    <li>NTIRE 2020 Challenge on Image Demoireing - Track 1 Single image, in conjunction with CVPR, June 2020</li>
	  </ul>

	  <h4> 2nd Place (Region 1) </h4>
	  <ul>
	    <li>Yonsei-MCML team (<b>M. Cheon</b>, J.-H. Kim, J.-H. Choi, and J.-S. Lee)</li>
	    <li>Super-Resolution Challenge on Perceptual Image Restoration and Manipulation (PIRM), in conjunction with ECCV, September 2018</li>
	  </ul>

	  <h4> 2nd Place (Region 2) </h4>
	  <ul>
	    <li>Yonsei-MCML team (J.-H. Choi, J.-H. Kim, <b>M. Cheon</b>, and J.-S. Lee)</li>
	    <li>Super-Resolution Challenge on Perceptual Image Restoration and Manipulation (PIRM), in conjunction with ECCV, September 2018</li>
	  </ul>
  </div>
</div>
