---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>

        <h4>Journals</h4>
		  <ul>
		    <li><b>M. Cheon</b>, T. Vigier, L. Krasula, J. Lee, P. Le Callet, J.-S. Lee, "Ambiguity of objective image quality metrics: A new methodology for performance evaluation," Signal Processing: Image Communication, vol. 93, Apr. 2021. <a class="publication-link" href="https://doi.org/10.1016/j.image.2021.116150" target="blank">Detail</a>, <a class="publication-link" href="https://arxiv.org/abs/2101.07439" target="blank">arXiv</a>, <a class="publication-link" href="https://github.com/manricheon/AmbiguityIntervals" target="blank">Github</a></li>
		  </ul>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Conferences</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
